{<<"name">>,<<"lhttpc">>}.
{<<"version">>,<<"1.6.1">>}.
{<<"requirements">>,#{}}.
{<<"app">>,<<"lhttpc">>}.
{<<"precompiled">>,false}.
{<<"description">>,<<"Lightweight HTTP Client">>}.
{<<"files">>,
 [<<"src/lhttpc.app.src">>,<<"README.md">>,<<"include/lhttpc.hrl">>,
  <<"include/lhttpc_types.hrl">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/lhttpc.erl">>,<<"src/lhttpc_client.erl">>,<<"src/lhttpc_lib.erl">>,
  <<"src/lhttpc_manager.erl">>,<<"src/lhttpc_sock.erl">>,
  <<"src/lhttpc_sup.erl">>]}.
{<<"licenses">>,[<<"BSD">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/erlcloud/lhttpc">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
