{<<"name">>,<<"eini">>}.
{<<"version">>,<<"1.2.5">>}.
{<<"requirements">>,#{}}.
{<<"app">>,<<"eini">>}.
{<<"precompiled">>,false}.
{<<"description">>,<<"An Erlang INI parser">>}.
{<<"files">>,
 [<<"src/eini.app.src">>,<<"LICENSE">>,<<"README.rst">>,<<"rebar.config">>,
  <<"rebar.config.script">>,<<"rebar.lock">>,<<"src/eini.erl">>,
  <<"src/eini_app.erl">>,<<"src/eini_lexer.xrl">>,<<"src/eini_parser.yrl">>,
  <<"src/eini_sup.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/erlcloud/eini">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
