{<<"name">>,<<"erlcloud">>}.
{<<"version">>,<<"3.2.1">>}.
{<<"requirements">>,
 #{<<"base16">> =>
       #{<<"app">> => <<"base16">>,<<"optional">> => false,
         <<"requirement">> => <<"1.0.0">>},
   <<"eini">> =>
       #{<<"app">> => <<"eini">>,<<"optional">> => false,
         <<"requirement">> => <<"1.2.5">>},
   <<"jsx">> =>
       #{<<"app">> => <<"jsx">>,<<"optional">> => false,
         <<"requirement">> => <<"2.8.0">>},
   <<"lhttpc">> =>
       #{<<"app">> => <<"lhttpc">>,<<"optional">> => false,
         <<"requirement">> => <<"1.6.1">>}}}.
{<<"app">>,<<"erlcloud">>}.
{<<"precompiled">>,false}.
{<<"description">>,<<"AWS APIs library for Erlang">>}.
{<<"files">>,
 [<<"src/erlcloud.app.src">>,<<"README.md">>,<<"include/erlcloud.hrl">>,
  <<"include/erlcloud_as.hrl">>,<<"include/erlcloud_aws.hrl">>,
  <<"include/erlcloud_ddb.hrl">>,<<"include/erlcloud_ddb2.hrl">>,
  <<"include/erlcloud_ddb_streams.hrl">>,<<"include/erlcloud_ec2.hrl">>,
  <<"include/erlcloud_ecs.hrl">>,<<"include/erlcloud_lambda.hrl">>,
  <<"include/erlcloud_mon.hrl">>,<<"include/erlcloud_mturk.hrl">>,
  <<"include/erlcloud_waf.hrl">>,<<"include/erlcloud_xmerl.hrl">>,
  <<"rebar.config">>,<<"rebar.config.script">>,<<"rebar.lock">>,
  <<"src/erlcloud.erl">>,<<"src/erlcloud_as.erl">>,
  <<"src/erlcloud_athena.erl">>,<<"src/erlcloud_autoscaling.erl">>,
  <<"src/erlcloud_aws.erl">>,<<"src/erlcloud_cloudformation.erl">>,
  <<"src/erlcloud_cloudfront.erl">>,<<"src/erlcloud_cloudsearch.erl">>,
  <<"src/erlcloud_cloudtrail.erl">>,<<"src/erlcloud_cloudwatch_logs.erl">>,
  <<"src/erlcloud_config.erl">>,<<"src/erlcloud_cur.erl">>,
  <<"src/erlcloud_ddb.erl">>,<<"src/erlcloud_ddb1.erl">>,
  <<"src/erlcloud_ddb2.erl">>,<<"src/erlcloud_ddb_impl.erl">>,
  <<"src/erlcloud_ddb_streams.erl">>,<<"src/erlcloud_ddb_util.erl">>,
  <<"src/erlcloud_directconnect.erl">>,<<"src/erlcloud_ec2.erl">>,
  <<"src/erlcloud_ec2_meta.erl">>,<<"src/erlcloud_ecs.erl">>,
  <<"src/erlcloud_ecs_container_credentials.erl">>,<<"src/erlcloud_elb.erl">>,
  <<"src/erlcloud_emr.erl">>,<<"src/erlcloud_glue.erl">>,
  <<"src/erlcloud_http.erl">>,<<"src/erlcloud_httpc.erl">>,
  <<"src/erlcloud_iam.erl">>,<<"src/erlcloud_inspector.erl">>,
  <<"src/erlcloud_json.erl">>,<<"src/erlcloud_kinesis.erl">>,
  <<"src/erlcloud_kinesis_impl.erl">>,<<"src/erlcloud_kms.erl">>,
  <<"src/erlcloud_lambda.erl">>,<<"src/erlcloud_mes.erl">>,
  <<"src/erlcloud_mms.erl">>,<<"src/erlcloud_mon.erl">>,
  <<"src/erlcloud_mturk.erl">>,<<"src/erlcloud_rds.erl">>,
  <<"src/erlcloud_redshift.erl">>,<<"src/erlcloud_retry.erl">>,
  <<"src/erlcloud_route53.erl">>,<<"src/erlcloud_s3.erl">>,
  <<"src/erlcloud_sdb.erl">>,<<"src/erlcloud_ses.erl">>,
  <<"src/erlcloud_sns.erl">>,<<"src/erlcloud_sqs.erl">>,
  <<"src/erlcloud_states.erl">>,<<"src/erlcloud_sts.erl">>,
  <<"src/erlcloud_util.erl">>,<<"src/erlcloud_waf.erl">>,
  <<"src/erlcloud_xml.erl">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/erlcloud/erlcloud">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
